.App {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.App.light {
  background-color: #f8f9fa;
  color: #212529;
}

.App.dark {
  background-color: #212529;
  color: #f8f9fa;
}

.App.dark .card {
  background-color: #343a40;
  color: #f8f9fa;
}

.App.dark .list-group-item {
  background-color: #343a40;
  color: #f8f9fa;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.order-list {
  margin-top: auto;
  background: #fff;
}

.order-list .card-footer {
  background: none;
  border-top: none;
}

.order-list .card-body {
  padding: 20px;
}

.mt-4 {
  margin-top: 1.5rem;
}

.text-right {
  text-align: right;
}
